* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.home-body {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}
.banner {
  min-height: 50vh;
}
.menu {
  display: flex;
  width: 78%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  height: 81vh;
  overflow-y: auto;
}
.grid-item {
  display: inline-block;
}

.custom {
  width: 27%;
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}
.menu-content {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  position: relative;
}
.title {
  font-family: "Patrick Hand", cursive;
  letter-spacing: 0.08rem;
  color: brown;
  font-weight: bold;
  font-size: 2rem;
}
.search-bar {
  margin-bottom: 1rem;
  height: 3rem;
}
.banner-quote {
  background-color: #272526;
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 1s ease-out forwards, scaleCard 2s ease-in-out 1.5s infinite;
/* 
  transition: all 0.3s ease;
  animation: scaleCard 2s ease-in-out infinite; */
}

/* Fade-in effect on page load */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleCard {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
.banner-head {
  font-family: "Patrick Hand", cursive;
  font-size: 2.5rem;
  color: chocolate;
  line-height: 1rem;
  letter-spacing: 0.02rem;
}
.banner-head2 {
  font-family: "Patrick Hand", cursive;
  font-size: 4.6rem;
  color: chocolate;
  line-height: 5rem;
}
.banner-sub-head {
  margin-top: 1rem;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 0.08rem;
  color: grey;
}
.banner-btn {
  margin: 0.2rem;
  height: 2.8rem;
  border-radius: 1.5rem;
  width: 8rem;
  font-family: "Patrick Hand", cursive;
  font-size: 1.1rem;
  letter-spacing: 0.08rem;
  transition: all 0.3s ease;
  animation: scaleBtn 2s ease-in-out infinite;
}

@keyframes scaleBtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.qoute-head {
  color: brown;
}

/* .foot-title {
  font-family: cursive;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: chocolate;
} */
/* $carousel-transition-duration: 1s !default;
$carousel-transition: 
        transform $carousel-transition-duration ease-in !default; */

.foot-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  color: chocolate;
  letter-spacing: 0.05rem;
  margin-top: 0.2rem;
}

.carousel-item {
  transition: transform 0.8s ease-in-out;
}

/* Utility */
.border {
  border: 1px solid red;
}
.capsule-img {
  margin-top: 0.1rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 5rem;
  object-fit: fill;
}

.capsule {
  width: 7rem;
  height: 10rem;
  font-size: 0.8rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: relative;
}
.capsule-text {
  position: absolute;
  top: 67%;
  left: 15%;
}