/* * {
  box-sizing: border-box;
}
.home-body {
  overflow-y: hidden;
} */
.banner {
  min-height: 50vh;;
}
.menu {
  display: flex;
  width:78%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  height: 80vh;
  overflow-y: auto;

}
.grid-item {
  display: inline-block;
}

.custom{
  width: 27%;
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  
}
  .menu-content{
    width: 100%;
    height: auto;
    position: relative;
  }